/*=============== EXPERIENCE ===============*/
.experience{
   &__container{
      row-gap: 2rem;
   }
   &__card{
      display: grid;
      row-gap: 1rem;
   }
   &__company{
      font-size: var(--h2-font-size);
   }
   &__data{
      background-color: var(--container-color);
      padding: 1.5rem;
      border-radius: 1.5rem;
   }
   &__profession{
      font-size: var(--h3-font-size);
      margin-bottom: .5rem;
   }
   &__date{
      display: block;
      font-size: var(--smaller-font-size);
      margin-bottom: 1rem;
   }
   &__description{
      color: var(--text-color);
   }
}
