/*=============== HOME ===============*/
/*===== PERFIL =====*/
.perfil{
   position: relative;
   background: var(--conic-gradient);
   height: 415px;
   border-radius: 2rem;
   padding: 1rem;
   display: grid;
   overflow: hidden;

   &__img{
      width: 250px;
      position: absolute;
      justify-self: center;
      align-self: flex-end;
   }
   &__data{
      align-self: flex-end;
      background-color: hsla(0, 0%, 1%, .1);
      backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(16px);
      padding: 1.5rem 1rem;
      border-radius: 1.5rem;
      border: 2px solid hsla(0, 0%, 100%, .5);
   }
   &__name{
      font: var(--font-regular) var(--biggest-font-size) var(--second-font);
      margin-bottom: 1rem;
   }
   &__buttons{
      display: grid;
      column-gap: .5rem;
      grid-template-columns: repeat(2, 1fr);

      & .button{
         padding: .75rem 0;
      }
   }
}

/*===== INFO =====*/
.info,
.about,
.skills{
   background-color: var(--container-color);
   padding: 2rem 1.5rem;
   border-radius: 2rem;
}

.info{
   &__circle{
      width: 2rem;
      height: 2rem;
      background-color: var(--first-color);
      border-radius: 50%;
   }
   &__name{
      font: var(--font-regular) var(--h1-font-size) var(--second-font);
   }
   &__data{
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: .5rem;
   }
   &__image{
      background: var(--conic-gradient);
      height: 180px;
      border-radius: 2rem;
      display: grid;
      margin-block: 1.5rem;
      overflow: hidden;
   }
   &__img{
      width: 140px;
      justify-self: center;
      align-self: flex-end;
   }
   &__description{
      font-size: var(--small-font-size);
      margin-bottom: 2rem;
   }
   & .button{
      width: 100%;
   }
}

/*===== ABOUT =====*/
.about{
   &__name{
      font-size: var(--normal-font-size);
      font-weight: var(--font-regular);
      margin-bottom: 1rem;
   }
   &__social{
      display: flex;
      justify-content: center;
      column-gap: 1.5rem;
      margin-block: 2rem;
   }
   &__link{
      width: 2.5rem;
      height: 2.5rem;
      background-color: var(--white-color);
      color: var(--black-color);
      font-size: 1.5rem;
      border-radius: 50%;
      display: grid;
      place-items: center;
      transition: background-color .4s, color .4s;

      &:hover{
         background-color: var(--first-color);
         color: var(--white-color);
      }
   }
   &__image{
      background: var(--conic-gradient);
      height: 180px;
      border-radius: 2rem;
      display: grid;
      overflow: hidden;
   }
   &__img{
      width: 250px;
      justify-self: center;
      transform: translateY(-2.5rem);
   }
   &__note{
      font-size: var(--small-font-size);
      margin-block: 1rem 2rem;
   }
   & .button{
      width: 100%;
   }
}

/*===== SKILLS =====*/
.skills{
   &__title{
      font-size: var(--h2-font-size);
   }
   &__item{
      width: 1.5rem;
      transition: transform .4s;

      &:hover{
         transform: translateY(-.25rem);
      }
   }
   &__items{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1.5rem;
      margin-block: 1.5rem;
   }
   &__description{
      font-size: var(--small-font-size);
   }
}
